<?XML version="1.0"?>
<scriptlet>

<registration
    description="Cert"
    progid="Cert"
    version="1.00"
    classid="{ABAB1212-0000-0000-0000-0000ABABACDB}"
	>
</registration>

<public>
    <method name="Run"></method>
</public>
<script>
<![CDATA[

	function Run()
	{
	
	}

]]>
</script>

</scriptlet>
